// In your base folder, include a normalize.css file and create a base.scss file. In the base.scss file, you can only apply styles to four different elements directly:
// the universal selector (*)
//  ul elements
//  p elements
//  a elements

* {
    font-family: $font-stack-primary;
    box-sizing: border-box;
    font-size: $font-size-default;
}

p {
    line-height: 2em;
    padding: $gutter-default * 2;
    font-size: $font-size-default;    
}