.card {
    line-height: 1.6em;
    padding-top: 0px;
    padding-bottom: $gutter-small * 2;
    padding-left: 40px;
    padding-right: 40px;
    font-size: $font-size-default - 1px ;
    color: $color-font;
}
