.nav {
    list-style-type:none;
    padding: 0px;
    margin-top: $gutter-small;

    &__item {
        display : block;
        width: calc(100% - #{$gutter-default*2});
        padding : $gutter-smaller - 1px;
        margin-left: auto;
        margin-right: auto;
        border-radius: $button-border-radius;
        
        a {
            display:block;
            text-decoration: none;
            width: 100%;
            color: $color-font;
            text-align: center;
        }
    }

    &__item:first-child {
        background-color : $color-primary;
        a {
            color: $color-font-inverted;
        }
    }
}

