.headline--primary {
    padding-left: 20px;
    padding-right: 20px;
    color: $color-primary;
    font-size: 30px;
    line-height: 1.125em;
}

.headline--secondary {
    margin: 0;
    padding-top: 20px;
    font-weight: normal;
}