// create variables for fonts, breakpoints, and colors.

$color-primary : #58E1C1;
$color-font : #000;
$color-font-inverted : #fff;

$font-stack-primary : 'Arial', 'Helvetica Neue', sans-serif;
$font-size-default: 18px;

$gutter-default: 25px;
$gutter-smaller: 18px;
$gutter-small: 10px;

$button-border-radius: 5px;

